<div class="col-md-10 card mb-3 mx-auto">
  <div class="card-body d-flex">
    <div class="col-md-2">
      <%= image_tag user.profile.avatar, class: 'img-fluid', style: 'width: 100px; height: 100px;' %>
    </div>
    <div class="col-md-7">
        <h5 class="card-title my-3">
          <%= link_to user.profile.name, user_path(user), class: 'text-decoration-none text-dark' %>
        </h5>
        <div class="d-flex mt-4">
          <p class="card-text">年齢: <%= age(user.profile.birthday) %>歳</p>
          <p class="card-text mx-4">誕生日: <%= user.profile.birthday.strftime('%Y年%m月%d日') if user.profile.birthday %></p>
        </div>
    </div>
    <div class="ms-auto d-flex flex-column align-items-end justify-content-between">
      <p class="card-text border border-2 m-0 p-1">フレンドコード：<%= user.friend_code %></p>
      <% if user != current_user %>
        <div id="button_container_<%= user.id %>">
          <%= render 'users/toggle_button', user: user %>
        </div>
      <% end %>
    </div>
  </div>
</div>