<div class="container-fluid bg-body-tertiary" style="min-height: 80vh;">
  <div class="row mx-md-4 mx-2 justify-content-center">
    <h2 class="my-4"><%= @searching ? "検索結果" : "フレンドリスト" %></h2>

    <!-- 検索フォーム -->
    <%= form_with url: users_path, method: :get, local: true do |f| %>
      <div class="row mb-4 justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <%= f.text_field :friend_code, class: 'form-control', placeholder: "フレンドコードを入力" %>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <%= f.submit "検索", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="user-list">
      <% if @users.present? %>
        <% @users.each do |user| %>
          <%= render partial: 'user_card', locals: { user: user } %>
        <% end %>
      <% end %>
    </div>
    <div class="col-10 mt-4">
      <%= link_to 'リストに戻る', users_path if @searching%>
    </div>
    <%= paginate @users, theme: 'bootstrap-5' %>
  </div>
</div>
