<div class="container-fluid bg-body-tertiary" style="min-height: 80vh;">
  <div class="row mx-md-4 mx-2 justify-content-center">
    <h2 class="col-12 my-4"><%= @user == current_user ? "マイページ" : "ユーザー詳細" %></h2>
    <div class="col-md-10 card mb-4 mx-auto">
      <div class="card-body d-flex flex-column flex-md-row">
        <div class="col-12 col-md-9 d-flex flex-row align-items-center">
          <!-- アイコン -->
          <div class="col-4 col-md-4 d-flex flex-column justify-content-center align-items-center">
            <%= image_tag @profile.avatar, class: 'img-fluid mb-2', style: 'width: 100px; height: 100px;' %>
            <h6 class="card-text mb-3 text-center"><%= @profile.name %></h6>
          </div>

          <!-- 詳細 -->
          <div class="col-8 col-md-5 mx-2">
              <p class="card-text mb-2">年齢: <%= age(@profile.birthday) %>歳</p>
              <p class="card-text mb-2">誕生日: <%= @profile.birthday.strftime('%Y年%m月%d日') if @profile.birthday %></p>
              <p class="card-text">ひとこと: <%= @profile.bio.present? ? @profile.bio : "" %></p>
          </div>
        </div>

        <!-- フレンドコードとボタン -->
        <div class="col-12 col-md-3 ms-auto d-flex flex-row flex-md-column align-items-end justify-content-between mt-2 mt-md-0">
          <p class="card-text border border-2 m-0 p-1 mb-md-4" style="font-size: 0.8rem;">フレンドコード：<%= @user.friend_code %></p>
          <% if @user != current_user %>
            <div id="button_container_<%= @user.id %>">
              <%= render 'users/toggle_button', user: @user %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% if @user == current_user %>
      <div class="d-flex justify-content-center my-2">
        <a href="<%= edit_user_registration_path %>" class="btn btn-secondary">アカウント設定</a>
        <a href="<%= edit_user_path(@user) %>" class="btn btn-secondary mx-2">プロフィール編集</a>
      </div>
    <% else %>
      <div class="col-10 mt-4">
        <%= link_to '戻る', :back %>
      </div>
    <% end %>

    <div class="col-12 mt-5">
      <div class="col-md-10 d-flex justify-content-between align-items-center mb-4 mx-auto">
        <h5 class="mt-4">主催のイベント一覧</h5>
        <% if @user == current_user %>
          <div class="mx-3">
            <a href="<%= new_event_path %>" class="btn btn-primary w-100" style="max-width: 200px;">+ イベント作成</a>
          </div>
        <% end %>
      </div>
      <div class="event-list">
        <% if @events.present? %>
          <% @events.each do |event| %>
            <% if event.hosted_by?(@user) %>
              <%= render 'events/event_card', event: event %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= paginate @events, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>