<div class="container-fluid bg-body-tertiary min-vh-100">
  <div class="row mx-4">
    <h2 class="col-12 my-4">参加イベントカレンダー</h2>
    <%= month_calendar events: @events do |date, events| %>
      <div class="calendar-day">
        <div class="calendar-date">
          <%= date.day %>
        </div>

        <% events.each do |event| %>
          <div>
            <%= link_to event_path(event), class: 'btn btn-warning btn-sm', style: '--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .75rem;' do %>
              <%= event.date.strftime("%H:%M") %> - <%= event.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if current_user.uid.present? %>
      <div class="d-flex justify-content-center align-items-center my-3">
        <a href="https://lin.ee/QRxX8g4" class="me-2" target="_blank">
          <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0">
        </a>
        <p class="mb-0">イベント前日にLINEでリマインダー通知をお送りします！</p>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", async function() {
    try {
      // Rails APIから現在のUIDを取得
      const response = await fetch('/current_uid');
      const data = await response.json();
      const currentUid = data.uid;

      if (currentUid) {
        // GASエンドポイントにリクエストを送信
        const gasEndpoint = "https://script.google.com/macros/s/AKfycbxjzuWLndE-WC9ziRfqKhwIWkkrZ4mFGj03LfeztHMpdPq5v3u2DrXEF7TAZuu9QI-f-w/exec";
        const formData = new URLSearchParams();
        formData.append('uid', currentUid);

        const res = await fetch(gasEndpoint, {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: formData,
        });

        const result = await res.text();
        console.log("GAS送信結果:", result);
      } else {
        console.error("UIDが取得できません");
      }
    } catch (error) {
      console.error("エラー:", error);
    }
  });
</script>
