<div class="container-fluid bg-body-tertiary min-vh-100">
  <div class="row mx-4 justify-content-center">
    <h2 class="col-12 my-4">イベント詳細</h2>
    <div class="card col-10 px-4">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div class="col-10">
          <h5 class="card-title my-3"><%= @event.name %>　(主催者：<%= @event.user.profile.name if @event.user.profile %>)</h5>

          <div class="card-text mb-3">
            <strong>開催日時:</strong> <%= @event.date.strftime("%Y年%m月%d日 %H:%M") %>
          </div>

          <div class="card-text mb-3">
            <strong>開催場所:</strong> <%= @event.location %>
          </div>

          <div class="card-text mb-3">
            <strong>イベント詳細:</strong> <%= @event.description %>
          </div>

          <div class="card-text mb-3">
            <strong>参加者数:</strong> <%= @event.participants.count %>人 / <strong>定員:</strong> <%= @event.capacity.present? ? "#{@event.capacity}人" : "無制限" %></p>
          </div>

          <div class="card-text mb-3 d-flex align-items-center">
            <strong>参加者:</strong>
            <div class="d-flex flex-wrap">
              <% @event.participants.each do |participant| %>
                <div class="d-flex flex-column align-items-center mx-2">
                  <%= image_tag participant.user.profile.avatar, class: 'img-fluid', size: '50x50' if participant.user.profile.avatar %>
                  <p><%= link_to participant.user.profile.name, user_path(participant.user), class: 'text-decoration-none text-dark' if participant.user.profile %></p>
                </div>
              <% end %>
            </div>
          </div>

          <% if @event.hosted_by?(current_user) %>
            <div class="card-text mb-3">
              <strong>公開範囲:</strong> <%= t("activerecord.attributes.event.visibility.#{@event.visibility}") %>
            </div>

            <div class="card-text mb-3">
              <% if @event.visibility == 'limited' %>
                <% if @event.group_id.nil? %>
                  <strong>公開グループ:</strong> フレンド全員
                <% else %>
                  <strong>公開グループ:</strong> <%= link_to @event.group.name, group_path(@event.group), class: 'text-decoration-none text-dark' %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="ms-auto my-3 align-self-start">
          <%= render 'events/toggle_button', event: @event %>
        </div>
      </div>
    </div>

    <% if @event.hosted_by?(current_user) %>
      <div class="d-flex mt-3 justify-content-center">
        <%= button_to edit_event_path(@event), method: :get, class: 'btn btn-primary mx-2' do %>
          編集
        <% end %>

        <%= button_to @event, method: :delete, data: { turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-danger' do %>
          削除
        <% end %>
      </div>
    <% end %>
    <div class="col-10 mt-4 d-flex">
      <%= link_to '戻る', :back %>
      <%= link_to 'イベント一覧', events_path, class: "mx-2" %>
    </div>
  </div>
</div>