<div class="card mb-3">
  <div class="card-body d-flex">
    <div class="col-md-2">
      <%= image_tag friend.profile.avatar, class: 'img-fluid', style: 'width: 100px; height: 100px;' %>
    </div>
    <div class="col-md-7">
        <h5 class="card-title my-3">
          <%= link_to friend.profile.name, friendship_path(friend), class: 'text-decoration-none text-dark' %>
        </h5>
        <div class="d-flex mt-4">
          <p class="card-text">年齢: <%= age(friend.profile.birthday) %>歳</p>
          <p class="card-text mx-4">誕生日: <%= friend.profile.birthday.strftime('%Y年%m月%d日') if friend.profile.birthday %></p>
        </div>
    </div>
    <div class="ms-auto d-flex flex-column align-items-end">
      <p class="card-text border border-2 m-0 p-1">フレンドコード：<%= friend.friend_code %></p>
      <div id="button_container_<%= friend.id %>" class="mt-4">
        <%= render 'friendships/toggle_button', friend: friend %>
      </div>
    </div>
  </div>
</div>