<p><%= t(".title") %> <%= @resource.profile.name %> 様</p>

<p><%= t(".reset_password_explanation") %></p>

<p><%= link_to t(".reset_password_link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".reset_password_within") %></p>

<p><%= t(".please_ignore") %></p>
<p><%= t(".wont_change") %></p>

<!--
<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
-->