<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Event Station" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-47CFV78L3L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-47CFV78L3L');
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'Event Station' %>">
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : 'イベントやゲーム、あそびなどの参加者募集を簡単に行えるサービスです。' %>">
    <meta property="og:image" content="<%= image_url('ogp_image2.png') %>">
    <meta property="og:url" content="<%= request.original_url %>">

    <%= yield :head %>

    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="manifest" href="/manifest.json">
    <!--<link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">-->
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <!-- ヘッダー -->
    <% if user_signed_in? %>
      <%= render 'shared/header_logged_in' %>
    <% else %>
      <%= render 'shared/header_logged_out' %>
    <% end %>

    <!-- フラッシュメッセージ -->
    <% if flash[:notice] %>
      <div class="alert alert-success mb-0">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger mb-0">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

    <!-- フッター -->
    <%= render 'shared/footer' %>
  </body>
</html>
