<div class="d-flex align-items-center py-4 bg-body-tertiary min-vh-100">
  <div class="form-signin w-90 m-auto">
    <h2 class="h3 mb-3 fw-normal">アカウント設定</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field mb-3">
        <%= f.label :password, "新しいパスワード" %>
         <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <i>※変更したい場合</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>

      </div>

      <div class="field mb-3">
        <%= f.label :password_confirmation, "新しいパスワード(確認)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field mb-5">
        <%= f.label :current_password %><br />
        <i>※パスワードの変更には現在のパスワードが必要です</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions mb-3">
        <button class="btn btn-primary w-100 py-2" type="submit">更新</button>
      </div>
    <% end %>

    <div class="mb-3">
      <%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?", turbo_confirm: "本当に削除しますか?" }, method: :delete, class: "btn btn-danger w-100 py-2" %>
    </div>

    <%= link_to "戻る", :back %>
  </div>
</div>
